*{
    color: aqua;
}
p{
    color: blueviolet;
    border: 1px solid red;
    width: 50%;
    padding: 30px;
    float: none;
    text-indent: 20%;
}
a{
    text-decoration: underline;
    text-transform: capitalize;
}
a:link{
    color: blueviolet;
}
a:visited{
    color: black;
}
a:hover{
    color: yellow;
}
a:active{
    color: aqua;
}
